.rootCont {
  width: 60%;
  margin: auto;
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10vh;
}
.rootCont h1 {
  color: rgb(0, 49, 64);
  width: 95px;
  margin: 0 auto;
}
.rootCont > p {
  font-size: 40px;
  font-weight: 400;
  margin-top: 100px;
}
.mainCont {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 10%;
  color: rgb(14, 36, 49);
  font-size: 20px;
}
.mainCont > div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: left !important;
}
.mainCont > div > h2 {
  margin: 0px;
}

.profilePicCont {
}
.profilePic {
  text-align: right;
  width: 100%;
  margin: auto;
  /* border: 2px solid black; */
  background-color: rgb(194, 195, 201);
  border-radius: 10px;
}

.stat{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid gray.200;
  height: auto;
  width: auto;
  display: flex;
  gap:10px;
  padding: 20px;
}

.stat>div{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: auto;
  width: 30%;
  padding: 3px;
  background-image: linear-gradient(to right, #cc2b5e  ,  #753a88);
  color: #fff;
}
.main :nth-child(1) {
  font-size : large;
  font-weight: bolder;
}

.main :nth-child(2) {
  font-size : large;
  font-weight: bolder;
}


@media only screen and (max-width: 1024px) {
  .rootCont {
    width: 90%;
  }
  .mainCont {
    display: flex;
    flex-direction: column;
  }
  .mainCont > div {
    text-align: center !important;
  }
  .profilePicCont {
    padding: 10px;
  }
  .profilePic {
    width: 100%;
  }
}


